 body {
   font-family: 'Cairo', sans-serif;
 }

 .sidebar {
   left: auto;
   right: 0;
   border-left: 1px solid #ddd;
 }

 .content {
   margin-left: 0;
   margin-right: 250px;
 }

 .sidebar .navbar .navbar-nav .nav-link {
   border-left: 0;
   border-right: 3px solid var(--light);
   border-radius: 30px 0 0 30px;
 }

 .sidebar .navbar .navbar-nav .nav-link:hover,
 .sidebar .navbar .navbar-nav .nav-link.active {
   border-color: var(--primary);
 }

 .dropdown-item img {
    margin-left: 10px;
    margin-right: 0;
}

.nav-link .fa-globe {
    margin-left: 5px;
}

 .ms-3 {
   margin-right: 1rem !important;
   margin-left: 0 !important;
 }

 .ms-auto {
   margin-right: auto !important;
   margin-left: 0 !important;
 }

 .me-2 {
   margin-left: 0.5rem !important;
   margin-right: 0 !important;
 }

 .sidebar-toggler {
   margin-left: 0;
   margin-right: 0;
 }

 @media (min-width: 992px) {
   .sidebar.open {
     margin-right: -250px;
     margin-left: 0;
   }

   .content.open {
     margin-right: 0;
     width: 100%;
   }
 }

 @media (max-width: 991.98px) {
   .sidebar {
     margin-right: -250px;
     margin-left: 0;
   }

   .sidebar.open {
     margin-right: 0;
   }

   .content {
     margin-right: 0;
   }
 }

 .search-box .search-icon {
   right: auto !important;
   left: 15px !important;
 }

 .search-box .modern-input {
   padding-left: 40px !important;
   padding-right: 15px !important;
   text-align: right;
 }

 .modern-select {
   background-position: left 0.75rem center !important;
   padding-left: 2.25rem !important;
   padding-right: 0.75rem !important;
 }

 .bg-primary.rounded.d-flex.justify-content-between {
   flex-direction: row-reverse !important;
 }